/* Palette
Background: #181b18;
Main Highlight: #ab2346;
Secondary: #c15f78;
Eggshell: #fafbf9; */


/* Fonts */

@font-face {
    font-family: Abel;
    src: url('/public/fonts/Abel.ttf');
}

.abel {
    font-family: Abel;
}

@font-face {
    font-family: CodeLight;
    src: url('/public/fonts/CODEL.otf');
}

.codeLight {
    font-family: CodeLight;
}

html,
body {
    height: 100vh;
}

body {
    position: relative;
}

header {
    background: url('/public/images/fullwidth3.png') no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
}


/* Navbar */

.nav-tabs {
    border-bottom: 0 !important;
}

.nav-tabs .nav-item {
    margin-bottom: 0px !important;
}

.nav-tabs .nav-link {
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #181b18 #181b18 #ddd !important;
    color: #ab2346 !important;
    border-bottom-color: #181b18 !important;
    border-bottom-width: 0px !important;
    border-bottom-style: solid !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #ab2346 !important;
    background-color: #181b18 !important;
    border-color: #ddd #ddd #181b18 !important;
    border-bottom-color: #ab2346 !important;
    border-bottom-width: 0.5px !important;
    border-bottom-style: solid !important;
}


/* Done fixing bootstrap */

.logoTweak {
    height: 35px;
    margin-right: -50px;
}

.logoTweak:hover {
    filter: brightness(125%)
}

.custom-toggler.navbar-toggler {
    border-color: #ab2346 !important;
    outline: none;
    /*This is a good thing to use in future builds*/
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(171,35,70, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.colorNav {
    color: #c15f78 !important;
}

.colorNav:hover {
    color: #ab2346 !important;
}

.navShift {
    margin-left: 150px;
}

.navB {
    border-bottom-color: #ab2346 !important;
    border-bottom-width: 2px !important;
}


/* Header */

.centerContent {
    text-align: center;
}

.hiFont {
    font-size: 11vh;
    color: #fafbf9;
    text-shadow: 1px 0.5px #181b18;
    padding-top: 12.5vh;
}

.name {
    color: #fafbf9;
    padding-top: 20vh;
    text-shadow: 2px 1px #ab2346;
    font-size: 10vw;
}

.arrow {
    color: #fafbf9;
    zoom: 5;
}

.arrowDiv {
    padding-left: 50%;
    padding-top: 15vh;
}


/* About Me */

.AboutMe {
    background-color: #231623;
    height: 100%;
}

.spanHighlight {
    color: #ab2346;
}

.whiteText {
    color: #fafbf9;
}

.sectionPad {
    padding-top: 8vh;
}

.picSize {
    height: 75vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.heyFont {
    font-size: 5vw;
    padding-bottom: 2.5vh;
    color: #fafbf9;
    text-shadow: 1px 0.5px #181b18;
}

.aboutMePara {
    font-size: 2.25vw;
    padding-top: 1.5vh;
}

/* Career */
.Career{
    height:100vh;
    background-color: #231623;
}
.heyaFont {
    font-size: 4vw;
    padding-bottom: 2.5vh;
    color: #fafbf9;
    text-shadow: 1px 0.5px #181b18;
}
/* Muuri */
.grid {
    position: relative;
  }
  .item {
    position: absolute;
    width: 250px;
    height: 125px;
    margin: 5px;
    z-index: 1;
    color: #fff;
  }
  .item.muuri-item-dragging {
    z-index: 3;
    border-radius: 10px;
    background-color: #c15f78 !important;
    
  }
  .item.muuri-item-releasing {
    z-index: 2;
    border-radius: 10px;
    background-color: #181b18 !important;
  }
  .item.muuri-item-hidden {
    z-index: 0;
  }
  .item-content {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: auto;
    background-color: #ab2346;
    font-size: 25px;
    text-align: center;
  }
  .overlayReveal{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    opacity: 0;
    transition: 1s ease;
    background-color: #c15f78;
  }
  .item-content:hover .overlayReveal {
    opacity: 1;
  }
  .textReveal {
    color: #fafbf9;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
/* Media Queries */
@media (max-width: 576px) { 
    .item{
       width: 125px;
       height: 62.5px;
    }
    .smallHide{
        visibility: collapse;
    }
    .heyaFont{
        font-size: 150%;
    }
 }
@media (max-width: 992px) {
    .name {
        font-size: 12vh;
    }
    .picSize {
        height: 50vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-link {
        text-align: center;
    }
    .heyFont {
        font-size: 5vh;
    }
    .aboutMePara {
        font-size: 2.5vh;
    }
}

@media (max-width: 768px) {
    .aboutMePara {
        font-size: 3.5vw;
    }
}


/* Career */

.iconSize {
    zoom: 5;
    color: #fafbf9;
}
.iconSize:hover{
    color: #ab2346;
}


/* Preloader */

#overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}