/* Palette
Background: #181b18;
Main Highlight: #ab2346;
Secondary: #c15f78;
Eggshell: #fafbf9; */

/* Fonts
Title font: Abel
Text font: Open Sans
Heading: Nexa Bold (?) */

/* Fonts */

@font-face {
    font-family: Abelimp;
    src: url('/public/fonts/Abel.ttf');
}
/* div {
    font-family: myFirstFont;
} */
/* Element Tweaks */
html, body{
    height: 100vh;
}
header{
    background: url('/public/images/fullwidth2.jpg') no-repeat center center fixed;
    height: 94vh;
    background-size: cover;
}
/* Navbar */
.logoTweak{
    height: 35px;
    margin-right: -50px;
}
.logoTweak:hover{
    filter: brightness(125%)
}
.custom-toggler.navbar-toggler {
    border-color: #ab2346 !important;
    outline: none; /*This is a good thing to use in future builds*/
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(171,35,70, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.colorNav{
    color: #c15f78 !important;
}
.colorNav:hover{
    color: #ab2346 !important;
}
.navShift{
    margin-left: 150px;
}

/* Header */
@media (min-width: 992px){
    .navbar{
        height: 6vh;
    }
}